<template name="homePage">
    {{goatse}}
    <div class="home page">
		
	    <div class="jumbotron">
	      <div class="container">
	        <h1 class="metatrivia-padding">Metatrivia</h1>
	        <p><a class="btn btn-primary btn-lg start" href="#" role="button">Start a game &raquo;</a></p>
	        <p><a class="btn btn-primary btn-lg" href="/submit" role="button">Submit a question &raquo;</a></p>
              <p><a class="btn btn-primary btn-lg" href="/admin" role="button">Go to admin &raquo;</a></p>
	      </div>
	    </div>

	</div>
</template>