<template name="submit">

    <div id="thanksMSG"></div>

    <div class="well well-padding">
        <form class="submit-question">

            <h2>Submit A Question</h2>

            <div class="form-group form-group-lg">
                <input type="text" class="form-control question-padding" name="question" value="{{question}}" placeholder="Enter your question..."/>
                <div id="questionMSG"></div>
            </div>

            <p>Please indicate which answer is correct by clicking on the corresponding radio button</p>
            <!-- update -->
            {{#if answers}}
                {{#each answers}}
                    <div class="input-group answer-padding">
                        <span class="input-group-addon">
                          <input class="isChecked" type="radio" name="isAnswer{{index}}" id="isAnswer{{index}}" {{answerIsChecked}}>
                        </span>
                        <input type="text" class="form-control" name="answer{{index}}" id="answer{{index}}" value="{{text}}" placeholder="Enter your answer"/>
                    </div>
                {{/each}}
            <!-- insert -->
            {{else}}
                {{#each addAnswers}}
                    <div class="input-group answer-padding">
                        <span class="input-group-addon">
                          <input class="isChecked" type="radio" name="isAnswer{{index}}" id="isAnswer{{index}}" {{answerIsChecked}}>
                        </span>
                        <input type="text" class="form-control" name="answer{{index}}" id="answer{{index}}" value="{{text}}" placeholder="{{placeholder}}"/>
                    </div>
                {{/each}}
            {{/if}}
            <div id="answerMSG"></div>
            <div id="isAnswersMSG"></div>

            <div><input type="submit" class="btn btn-primary btn-block btn-lg" id="submit"/></div>

        </form>
    </div>

    <h2>Your Questions</h2>
    <ol>
        {{#each questions}}
            <li>
                {{#if active}}
                    (<span style="color: green;">Approved</span>)
                {{else}}
                    (<span style="color: red;">Not Approved</span>)
                {{/if}}
                {{question}}
                <span class="moment">Submitted {{questionMoment}}</span>
            </li>
        {{/each}}
    </ol>

</template>

